:root {
  --padding-page: 18vw;
  --colorText: white;
}
h2 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.cursoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px var(--padding-page);
  gap: 30px;
}
.cursoTitle {
  width: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
.imgCurso {
  width: 170px;
  height: 170px;
}
.contCursos {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  justify-content: left;
}

.cursoDivider {
  height: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  width: 100%;
}

.cursoText {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.cursoSeparator {
  height: 37px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 22px;
  gap: 16px;
  border-radius: 5px;
  justify-content: space-between;
}
.cursoDropdown-dsm {
  position: relative;
  display: inline-block;
  height: 100%;
}
.cursoDropdown-geo {
  position: relative;
  display: inline-block;
  height: 100%;
}
.cursoDropdown-rh {
  position: relative;
  display: inline-block;
  height: 100%;
}
.btn-menu-dsm {
  font-weight: bold;
  font-size: 19px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--colorText);
  cursor: pointer;
  padding: 0px 8px;
  height: 100%;
  border-radius: 5px;
}
.btn-menu-geo {
  font-weight: bold;
  font-size: 19px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--colorText);
  cursor: pointer;
  padding: 0px 8px;
  height: 100%;
  border-radius: 5px;
}
.btn-menu-rh {
  font-weight: bold;
  font-size: 19px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--colorText);
  cursor: pointer;
  padding: 0px 8px;
  height: 100%;
  border-radius: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  min-width: 100px;
  border-radius: 4px;
  text-align: center;
}
.cursoDropdown-rh:hover .dropdown-content {
  display: block;
  background-color: #83d968;
}
.sub-group {
  padding: 6px 0px;
}

.sub-sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #83d968;
  border-radius: 4px;
  z-index: 999;
}
.sub-group:hover .sub-sub-menu {
  display: block;
}
.sub-btn-rh {
  padding: 6px 0px;
  background-color: red;
}

.btnHome {
  width: 100%;
  height: 20px;
  background-color: transparent;
  border: none;
  padding-top: 8px;
}
.btnHome > button {
  color: #333;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: left;
}
.btnHome > button:hover {
  color: #000;
}

@media screen and (max-width: 700px) {
  .cursoSection {
    padding: 0 5vw;
  }
  .imgCurso {
    width: 120px;
    height: 120px;
  }
  h2 {
    font-size: 20px;
    text-align: left;
  }
  .cursoSeparator{
    margin-left: 820px;
    width: 44%;
  }
}
