* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Arial";

}

header {
    justify-items: center;
}
.CorpoDSM {
    align-items: center;
    margin-left: 400px;
    padding-right: 400px;
    text-align: end;
    display: flex;
    margin-top: 10px;
    font-size: 30px;
}

img {
    padding: 0px;
    height: 120px 140px;

}

.container {
    background-color: #538cd1;
    flex: 1;
    margin: 0px 400px;
    padding: 30px 60px;
}

.container>h2 {
    text-align: center;
}

.risco2 {
    height: 37px;
    background-color: #1353A3;
    width: 100vw;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.table th {
    background-color: #1353A3;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 20px;
    text-align: center;
}

table>tbody {
    background-color: #fff;
}

.dias {
    font-weight: bold;
}

.table td {
    padding: 10px 25px;
}

.button {
    width: 100%;
    text-align: right;
    margin-top: 30px;
}
button { 
    border: 0px;
    background-color: #538cd1;
    font-size: 20px;
    color: #fff;
}
.Voltar {
    display: flex;
}
.Voltar > h2 {
    padding: 0px 370px;
    font-size: 40px;
    color: #fff;
}
.Voltar > button {
    font-size: 25px;
}