:root {
  --primary-color: #d92525;
  --secondary-color: #e22427;
  --hover-color: #ee0000;
  --background-color: #f5f5f5;
  --light-gray: #f1f1f1;
  --text-color: #333;
  --white: #fff;
}

.containerLogin {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background: #f0f4fa;
  padding: 40px 30px;
  border-radius: 16px;
  width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.password-container {
  position: relative;
  margin-bottom: 20px;
}

#toggleSenha {
  position: absolute;
  right: 1%;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--text-color);
  font-size: 18px;
  padding: 8px;
}

button {
  width: 100%;
  padding: 12px;
  background: var(--secondary-color);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: var(--hover-color);
}

.obs {
  margin-top: 20px;
  font-size: 12px;
  color: #222;
  text-align: center;
}

.obs b {
  font-weight: bold;
}
a{
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  font-size: 15px;
}
@media (max-width: 768px) {
  .login-container {
    width: 90%;
  }
}
