* {
  margin: 0px;
}

:root {
  --border-radius : 6px;
  --gap-content: 50px;
  --padding-content-x: 15vw;
  --padding-content-y: 10vh;
}

.contentSecretary {
  background-color: #f1f1f1;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  gap: var(--gap-content);
  padding: var(--padding-content-y) var(--padding-content-x);
}
.subtitle {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.subtitle > h1 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.subtitle > h2 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.subtitle > hr {
  height: 2px;
  background-color: #000;
}
.contentSecretary > .cursos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.cursos > .editCursos {
  /* border: none; */
  width: 100%;
  background-color: #fff;
  border-radius: var(--border-radius);
}
.editCursos > .imgCurso {
  width: 150px;
  height: 150px;
}
.imgCurso > img {
  width: 100%;
}
main > div {
  padding: 18px 24px;
}
.periodo {
  width: 100%;
  display: flex;
  gap: 16px;
}
.periodo > button {
  padding: 7px;
  font-size: 1rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: none;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
/* .active, .accordion:hover {
  background-color: #ccc;
} */
.panel {
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0;
}
.panel-content {
  padding: 30px 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.materiasTurma {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.materia {
  width: 30%;
  background-color: #eee;
  padding: 12px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.materia > .title {
  display: flex;
  justify-content: space-between;
}